body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin : 0;
}
html,
body,
#renderCanvas {
    width: 100%;
    height: 100%;
    touch-action: none;
}

#scene-container {
    width: 100vw;
    height: 80vh;
    display: block;
    
}

h1 {
    text-align: center;
    margin-top: 20px;
    color: #fff;
}


.switch {
    position: absolute;
    top: 10px;
    left: 40px;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #3a21f3;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.view-text {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-family: Arial, sans-serif;
    font-size: 24px;
    color: white;
    text-align: center;
}

